.news__block {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  background: url("./img/bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 98%;
}
.news__container {
  width: 100%;
  margin: 84px auto;
  max-width: 1297px;
}
.news__title {
  text-align: center;
  margin: 20px auto;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}
.news__items {
  gap: 15px;
  justify-content: center;
  display: flex;
}

@media (max-width: 1200px) {
  .news__items {
    flex-wrap: wrap;
  }
}
@media (max-width: 914px) {
  .news__block {
    background: none;
  }
}
@media (max-width: 700px) {
  .news__title {
    font-size: 30px;
  }
}

@media (max-width: 690px) {
  .news__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
@media (max-width: 430px) {
  .news__block {
    padding: 0;
    height: 249px;
  }
  .news__title {
    font-size: 16px;
  }
  .news__items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
