.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 672px));
  column-gap: 20px;
  row-gap: 40px;
}

// Media --------------------------------------------\

@media (max-width: 930px) {
  .list {
    row-gap: 30px;
  }
}

@media (max-width: 650px) {
  .list {
    grid-template-columns: 1fr;
  }
}
