.advantages__block {
  margin-top: 130px;
}
.container {
  max-width: 1376px;
  margin: 0 auto;
}
.advantages__title {
  font-family: "Montserrat";
  font-weight: 700;
  padding-bottom: 50px;
  font-size: 35px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #414141;
}
.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}

@media (max-width: 430px) {
  .advantages__block {
    margin-top: 0px;
  }
  .advantages__title {
    font-size: 16px;
    padding-bottom: 30px;
  }
}
