.advantages__block {
  background: url("./img/bg.png");
  display: flex;
  align-items: center;
  background-size: cover;
  padding: 100px 10px;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1297px;
}
.advantages__title {
  text-align: center;
  margin: 20px auto;

  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}
.items {
  gap: 15px;
  display: flex;
}

@media (max-width: 800px) {
  .advantages__block {
    margin: 0;
    height: 370px;
  }
  .items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

@media (max-width: 700px) {
  .advantages__title {
    font-size: 30px;
  }
}
@media (max-width: 430px) {
  .advantages__block {
    height: 166px;
    margin: 60px auto 95px auto;
  }
  .advantages__title {
    font-size: 16px;
  }
}
