.container {
  position: relative;
  padding: 20px;
  margin: 50px auto 100px auto;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-height: 500px;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(33, 26, 26, 0.6549019608);
  border-radius: 10px;

  .text_input_wrapper {
    margin-block: 20px;
  }
  .title_input {
    height: 40px;
    padding-left: 5px;
    font-size: 22px;
    width: 100%;
    border-radius: 8px;
    border: none;
    border: 1px solid black;
  }

  .text_input {
    height: 170px;
    overflow-x: scroll;
    width: 100%;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .image_selects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-between;

    input {
      opacity: 0;
      position: absolute;
    }
  }

  .select_btn {
    border: none;
    padding: 5px 14px;
    background-color: rgb(14, 63, 131);
    color: white;
    border-radius: 6px;
  }

  .coverImg {
    border-radius: 8px;
    margin-top: 15px;
    object-fit: cover;
    max-height: 300px;
    width: 100%;
  }

  .contentImg {
    border-radius: 8px;
    margin-top: 15px;
    object-fit: cover;
    max-height: 300px;
    width: 100%;
  }
}
.submit_btn {
  padding: 7px 15px;
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(
    to right bottom,
    rgba(21, 255, 0, 0.586),
    rgba(0, 0, 255, 0.816)
  );
  color: rgb(255, 255, 255);
  font-weight: 500;
  width: 200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -62px;
}
