.background_img_container {
  background-image: url("../services/img//header_bg.png"),
    url("../services/img/header_bg_leaves.png");
  background-size: cover, 400px;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.container {
  max-width: 1339px;
  padding-inline: 10px;
  margin-inline: auto;
}

.servicesList {
}

.header {
  //   background-image: url("../services/img/footer_bg.png");
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: var(--dark);

  h2 {
    font-size: 70px;
    font-weight: 700;
    line-height: 105px;
  }

  p {
    font-size: 19px;
    font-weight: 300;
    line-height: 26px;
    // padding-left: 70px;
  }
}

// Media ----------------------------------------
@media (max-width: 1100px) {
  .header {
    h2 {
      font-size: 50px;
      line-height: 50px;
    }

    p {
      font-size: 16px;
      //   line-height: 19px;
    }
  }
}

@media (max-width: 850px) {
  .header {
    text-align: center;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    h2 {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    p {
      margin-inline: auto;
      max-width: 500px;
      font-size: 14px;
      line-height: 19px;
    }
  }
}
