.container {
  max-width: 1360px;
  margin-inline: auto;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 22px;
}

.items img:nth-child(1) {
  width: 35%;
  height: 278px;
}
.items img:nth-child(3) {
  width: 35%;
  height: 278px;
}
.items img:nth-child(4) {
  width: 35%;
  height: 278px;
}
.items img:nth-child(6) {
  width: 35%;
  height: 278px;
}
.items img:nth-child(5) {
  width: 62%;
  height: 278px;
}
.items img:nth-child(8) {
  width: 35%;
  height: 278px;
}
.items img:nth-child(10) {
  width: 35%;
  height: 278px;
}

.items img:nth-child(2) {
  width: 25%;
  height: 278px;
}

.items img:nth-child(7) {
  width: 25%;
  height: 278px;
}
.items img:nth-child(9) {
  width: 62%;
  height: 278px;
}

.items img:nth-child(2n + 11) {
  width: 35%;
  height: 278px;
}
.items img:nth-child(2n + 12) {
  width: 25%;
  height: 278px;
}
.items img:nth-child(8n + 14) {
  width: 62%;
  height: 278px;
}

@media (max-width: 899px) {
  .items img:nth-child(n) {
    width: 45%;
  }
}

@media (max-width: 590px) {
  .items img:nth-child(n) {
    width: 100%;
  }
}
