.background_img_container {
  background-image: url("../WeOffer/img/background_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  max-width: 1255px;
  margin-inline: auto;
  padding: 0 10px;
}

// text
.item__text {
  font-size: 31px;
  line-height: 47px;
  font-weight: 800;
  color: #f1f6ff;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  padding: 9px 14px;
  margin: 0 0 0 9px;
  position: absolute;
  bottom: 9px;
}

.page_title {
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 25px;
}

// Grid blocks
.block__item {
  border-radius: 10px;
  background-color: rgb(20, 142, 142);
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.page3__block {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(200px, 452.1px) minmax(100px, 360.77px) minmax(
      100px,
      377.05px
    );

  grid-template-rows: 258.6px 258.6px 1fr;
  grid-auto-rows: 258.6px;
  column-gap: 22px;
  row-gap: 27px;
}

.verticle {
  grid-row: span 2;
}

// Buttons
.btns {
  display: flex;
  justify-content: center;
  margin-top: -2px;
  // position: absolute;
  // left: 0;
  // right: 0;
}
.show_all_btn {
  padding: 12px 30px;
  border-radius: 18px;
  border: 2px solid #5061ff;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  background: none;
  margin-inline: 50px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.scrollBtn {
  display: none;
  width: max-content;
  padding: 0;
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

// Media queres
@media (max-width: 940px) {
  .page3__block {
    grid-template-rows: 200px 200px 250px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .verticle {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
  }

  .btns {
    margin-top: 25px;
  }
}
 
@media (max-width: 579px) {
  .container{
    padding: 40px 10px 0 10px;
  }
  // text
  .item__text {
    padding: 5px 10px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 12px;
  }
  .show_all_btn {
    padding: 14px 10px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 14px;
  }

  .page_title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
  }

  // Btns
  .btns {
    margin-top: 15px;
  }
  .scrollBtn {
    display: block;
    width: 42px;
    height: 42px;
  }

  // Grid blocks
  .page3__block {
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: 179px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    column-gap: 20px;
    justify-content: start;
  }

  .verticle {
    grid-row: 1;
    grid-column: 1;
  }
}
