.gate_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 25px;
  row-gap: 55px;

  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
