.sidebar {
  background-color: #fff;
  border-right: 1px solid #ddd;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  margin-right: 40px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a {
        color: #333;
        display: block;
        font-size: 16px;
        padding: 15px;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover,
        &.active {
          background-color: #f1f1f1;
          color: #222;
        }
      }
    }
  }
}
