.background_img_container {
  background-image: url("../img/bg_for_revews_&_form.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.background__services {
  background: url("./../img/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
