.container {
  padding: 4px 33px;
  border-radius: 10px;
  border: solid #001645 1px;
  background: transparent;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #001645;
  margin-right: 10px;
  cursor: pointer;
}

@media (max-width: 850px) {
  .container {
    font-size: 14px;
    line-height: 19px;
  }
}
