#btn {
  background: linear-gradient(90.13deg, #105bfb 0.1%, #5061ff 134.04%);
  background-repeat: no-repeat;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: absolute;
  top: -50px;
  right: 0;
  margin-right: 30px;
}

.scroll__btn {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

@media (max-width: 700px) {
  #btn {
    display: none;
  }
}
