name: Node.js CI

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{  matrix.node-version }}
    - run: |
        npm i
        npm run build
        pm2 stop webapp
        pm2 start /home/team5/actions-runner_2/_work/selim-trade/selim-trade/server.js --name=webapp
        pm2 save
