.container {
  max-width: 1207px;
  padding: 0px 10px;
  margin: 60px auto;
}
.forms__title {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
}
.forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
.form {
  background: rgba(249, 249, 249, 0.2);
  padding: 0px 7px;
  width: 320px;
  height: 54px;
  font-size: 20px;
  font-family: "Montserrat";
  border: 0.5px solid #414141;
  border-radius: 20px;
}
.btn {
  color: #fff;
  font-size: 25px;
  width: 373px;
  height: 57px;
  border: none;
  background: linear-gradient(90.13deg, #105bfb 0.1%, #5061ff 134.04%);
  border-radius: 20px;
}
.form__text {
  padding: 0px 7px;
  width: 1207px;
  height: 125px;
  background: rgba(249, 249, 249, 0.2);
  font-family: "Montserrat";
  font-size: 20px;
  border: 0.5px solid #414141;
  border-radius: 20px;
}
@media (max-width: 1110px) {
  // .forms {
  //   justify-content: space-between;
  // }
  .btn {
    order: 4;
    margin: 0 auto;
  }
}

@media (max-width: 710px) {
  .form {
    width: 100%;
  }
  .forms__title {
    font-size: 30px;
  }
  .btn {
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  .form {
    margin: 0 auto;
    height: 47px;
  }

  .forms__title {
    font-size: 16px;
  }
  .btn {
    width: 280px;
    height: 57px;
  }
}
