.wrapper {
  max-width: 1399px;
  margin-inline: auto;
  padding: 0 20px;
}

.title {
  position: absolute;
  margin-top: -103px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: var(--dark);
}
.grid {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 20px;
  overflow-x: scroll;
  //   scroll-snap-type: proximity;
  scroll-snap-align: none center;
  scroll-behavior: smooth;
  height: 240px;
}

.scrollBtns {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.scrollBtns button:first-child {
  margin-right: 40px;
}

.arrow {
  position: absolute;
  top: 22px;
  left: 31px;
}

.scrollBtn {
  width: max-content;
  padding: 0;
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 700px) {
  .scrollBtns button:first-child {
    margin-right: 29px;
  }
  .scrollBtn {
    width: 44px;
    height: 44px;
  }
  .grid {
    height: 168px;
  }
  .scrollBtns {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 16px;
    margin-top: -72px;
  }
}
